@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic|PT+Serif:400,400italic,700,700italic);

@import 'bower_components/normalize-less/normalize.less';
/*doc
---
title: Colors
name: colors
category: basics
---
```html_example
    <div class='color-black'  >black</div>
    <div class='color-darkest-grey' >darkest-grey</div>
    <div class='color-darker-grey'>darker-grey</div>
    <div class='color-dark-grey'>dark-grey</div>
    <div class='color-light-grey'>light-grey</div>
    <div class='color-lighter-grey' >lighter-grey</div>
    <div class='color-lightest-grey'>lightest-grey</div>
    <div class='color-white' >white</div>
```
*/
$black          : rgb(22,22,22);
.color-black {
    background-color: $black;
    color: white;
}
$darkest-grey   : lighten($black, 10%);
.color-darkest-grey {
    background-color: $darkest-grey;
    color: white;
}
$darker-grey    : lighten($black, 20%);
.color-darker-grey {
    background-color: $darker-grey;
    color: white;
}
$dark-grey      : lighten($black, 30%);
.color-dark-grey {
    background-color: $dark-grey;
    color: white;
}
$light-grey     : lighten($black, 50%);
.color-light-grey {
    background-color: $light-grey;
    color: white;
}
$lighter-grey   : lighten($black, 80%);
.color-lighter-grey {
    background-color: $lighter-grey;
    color: $black;
}
$lightest-grey  : lighten($black, 90%);
.color-lightest-grey {
    background-color: $lightest-grey;
    color: $black;
}
$white          : lighten($black, 100%);
.color-white {
    background-color: $white;
    color: $black;
}


$red            : rgb(255, 75, 75);
$darker-red     : darken($red, 25);
$lighter-red    : lighten($red, 7);

$toasted-yellow : rgb(200, 150, 050);
$yellow         : rgb(250, 200, 000);
$aged-yellow    : rgb(255, 225, 100);

$turquoise      : rgb(050, 200, 225);
$beach-blue     : darken($turquoise, 20%);
$summer-blue    : lighten($turquoise, 20%);

table {
    margin: 0.5em 1.6em;
    padding: 0.8em;
    font-family: 'Lato';
    background-color: $lighter-grey;
    th:first-child {
        border-top-left-radius: 0.4em;
    }
    th:last-child {
        border-top-right-radius: 0.4em;
    }
    tr:last-child td:first-child {
        border-bottom-left-radius: 0.4em;
    }
    tr:last-child td:last-child {
        border-bottom-right-radius: 0.4em;
    }
    tbody tr {
        &:nth-child(odd) {
            background-color: $summer-blue;
        }
    }
    td, th {
        margin: 0.5em 1.6em;
        padding: 0.8em;
    }
    th {
        background-color: $turquoise;
    }
}

body {
    background-color: $lightest-grey;
    color: $black;
    margin: 1.6em 1.2em;
    font-family: 'PT Serif';
    font-size: 1rem;
}

.control {
    margin: 1.4em 0 0.6em;
    font-family: 'Lato';
    font-size: 1.1em;
    label {
        display: inline-block;
        width: 120px;
        color: $beach-blue
    }

    input {
        border-radius: 0.2em;

        &[type=text] {
            background-color: $white;
            color: $darker-grey;
            background-color: #fff;
            border: solid rgba(0,0,0,0.3) 1px;
            box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.1);
        }
    }
}
