{% extends "layout.html" %}
{% block title %}Details about /{{ short_id }}{% endblock %}
{% block body %}
  <h2><a href="/{{ short_id }}">/{{ short_id }}</a></h2>
  <dl>
    <dt>Full link
    <dd class=link><div>{{ link_target }}</div>
    <dt>Click count:
    <dd>{{ click_count }}
  </dl>
  <div class="form-edit">
      <form action="" method="POST">
          <div class="controls">
              <div class="control">
                  <label for="url">URL:</label>
                  <input type="text" name="url" id="url" placeholder="{{ link_target }}"/>
              </div>
              <div class="control">
                  <label for="custom_id">Custom Slug:</label>
                  <input type="text" name="custom_id" id="custom_id" placeholder=""/>
              </div>
              <div class="control"><input type="submit" value="submit"></div>
          </div>
      </form>
  </div>
{% endblock %}
